* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #343946 0%, #191a1e 100%);
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

body.fix {
  overflow: hidden;
}

body.fix::before {
  content: "";
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.preloader {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #343946 0%, #191a1e 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.8s ease;
}

.load {
  height: 100px;
  width: 100px;
  animation: scaleInOut 2.5s infinite cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.load img {
  width: 100%;
}

@keyframes scaleInOut {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.075);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}
.title {
  font-size: 28px;
  font-weight: 400;
  line-height: 35px;
}

.text {
  font-size: 23px;
  font-weight: 400;
  line-height: 30px;
}

.button {
  width: 180px;
  height: 60px;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #22252B;
  border: transparent;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.button:hover {
  opacity: 0.8;
}

.button-purple {
  box-shadow: 0px 12px 40px 0px #A2A9FA;
  background-color: #A2A9FA;
}

.button-blue {
  box-shadow: 0px 12px 40px 0px #4E9CFB;
  background-color: #4E9CFB;
}

.button-pink {
  box-shadow: 0px 12px 40px 0px #F688F2;
  background-color: #F688F2;
}

.button-white-purple {
  box-shadow: 0px 12px 40px 0px #D3C7FB;
  background-color: #D3C7FB;
}

.bublle {
  position: absolute;
  z-index: -1;
}
.bublle-1 {
  display: none;
}
.bublle-2 {
  display: none;
}
.bublle-3 {
  bottom: 10px;
}
.bublle-4 {
  top: -10px;
  right: 25%;
}
.bublle-5 {
  right: 5px;
  top: 25%;
}
.bublle-6 {
  left: 5px;
  top: 40%;
}
.bublle-7 {
  display: none;
}
.bublle-8 {
  top: 50%;
  right: 5px;
}
.bublle-9 {
  right: 5px;
  top: 10%;
}
.bublle-10 {
  top: 20%;
}
.bublle-11 {
  display: none;
}
.bublle-12 {
  left: 5px;
  top: 90%;
}
.bublle-13 {
  display: none;
}

.header {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  background-color: #fff;
  position: fixed;
  z-index: 100;
}
.header__inner {
  display: flex;
  justify-content: space-between;
}
.header__menu-dropdown {
  display: flex;
  align-items: center;
}

.language {
  padding: 8px 30px 8px 19px;
  background-color: #E7E8F0;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #23262C;
  margin-right: 15px;
  position: relative;
  cursor: pointer;
}
.language::after {
  content: "";
  position: absolute;
  right: 8px;
  top: 15px;
  width: 14px;
  height: 9px;
  background: url(../img/lang-arr.svg) no-repeat;
  background-size: 100%;
  transition: transform 0.5s;
}
.language.active::after {
  transform: rotate(180deg);
}
.language.active .language-switcher {
  z-index: 1;
  opacity: 1;
}
.language-switcher {
  opacity: 0;
  position: absolute;
  bottom: -20px;
  z-index: -1;
  transition: opacity 0.5s ease;
}
.language-switcher a {
  color: #23262C;
  transition: color 0.5s ease;
}
.language-switcher a:hover {
  color: #fcb900;
}

.menu-btn {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: transparent;
  outline: none;
  position: relative;
  cursor: pointer;
}
.menu-btn span {
  display: block;
  width: 100%;
  background-color: #343946;
  height: 3px;
  border-radius: 20%;
}
.menu-btn span:before, .menu-btn span:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  background-color: #343946;
  height: 3px;
  border-radius: 20%;
}
.menu-btn span:before {
  top: 3px;
  transition: all 0.3s;
}
.menu-btn span:after {
  bottom: 3px;
  transition: all 0.3s;
}
.menu-btn.active span {
  height: 0;
}
.menu-btn.active span:before {
  content: "";
  top: 50%;
  transform: rotate(135deg);
}
.menu-btn.active span:after {
  content: "";
  top: 50%;
  transform: rotate(-135deg);
}

.header__menu {
  position: fixed;
  width: 320px;
  height: 100%;
  z-index: 100;
  top: 106px;
  left: -100%;
  transition: all 0.9s;
  background-color: rgb(255, 255, 255);
  overflow: auto;
}
.header__menu.active {
  left: 0;
}
.header__menu__list {
  width: 100%;
  border-top: 1px solid #E5E5E5;
}
.header__menu__list:first-child {
  border: 0;
}
.header__menu__list a {
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  color: #343946;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.header__menu__list a:hover {
  opacity: 0.6;
}

.post-header {
  padding: 185px 0 50px;
}
.post-header__inner {
  position: relative;
  text-align: center;
}
.post-header__img {
  position: relative;
  width: 100%;
  max-width: 638px;
}
.post-header__pre-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #D2D3D6;
  margin-bottom: 20px;
}
.post-header__pre-title a {
  margin: 0 5px;
}
.post-header__pre-title a img {
  width: 27px;
  height: 45px;
  vertical-align: middle;
}
.post-header__title {
  font-size: 30px;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 50px;
}
.post-header__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.post-header button {
  color: #fff;
}

.graphics {
  padding: 50px 0 50px;
  text-align: center;
}
.graphics__title {
  color: rgba(255, 255, 255, 0.2901960784);
  margin-bottom: 45px;
}
.graphics__text {
  max-width: 900px;
  margin: 0 auto;
  color: #FFFFFF;
  margin-bottom: 50px;
}
.graphics__img {
  max-width: 100%;
  margin-bottom: 50px;
}
.graphics__item__img {
  width: 73px;
  height: 61px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.graphics__item__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.graphics__item__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.5294117647);
  margin-bottom: 20px;
}

.style {
  padding: 50px 0 50px;
  position: relative;
}
.style__title {
  font-size: 28px;
  font-weight: 400;
  line-height: 35px;
  color: rgba(255, 255, 255, 0.2901960784);
  margin-bottom: 45px;
}
.style__text {
  font-size: 23px;
  font-weight: 400;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.style__img {
  max-width: 100%;
  width: 100%;
  margin-bottom: 80px;
}
.style__item__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.style__item__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.perfect {
  padding: 50px 0 50px;
}
.perfect__title {
  color: rgba(255, 255, 255, 0.2901960784);
  margin-bottom: 45px;
}
.perfect__text {
  color: #FFFFFF;
  margin-bottom: 20px;
}
.perfect__img {
  width: 100%;
  max-width: 100%;
}
.perfect__block__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.perfect__block__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.perfect__item__img {
  margin-bottom: 25px;
}
.perfect__item__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 40px;
}

.creator {
  padding: 50px 0;
}
.creator__title {
  color: rgba(255, 255, 255, 0.2901960784);
  margin-bottom: 45px;
}
.creator__text {
  color: #FFFFFF;
  margin-bottom: 85px;
}
.creator__item__img {
  margin-bottom: 20px;
}
.creator__item__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.creator__item__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.5294117647);
  margin-bottom: 30px;
}
.creator__img {
  width: 100%;
  max-width: 100%;
}

.transfer {
  padding: 50px 0;
}
.transfer__title {
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 65px;
}
.transfer__wrap {
  max-width: 810px;
  margin: 0 auto;
  text-align: center;
}
.transfer__wrap button {
  margin-bottom: 40px;
}

.footer {
  padding: 50px 0;
}
.footer__wrap {
  margin-bottom: 70px;
}
.footer__logo {
  text-align: center;
  margin-bottom: 25px;
}
.footer__logo a:first-child {
  margin-right: 30px;
}
.footer__menu__list {
  text-align: center;
}
.footer__menu__list li {
  margin-bottom: 20px;
}
.footer__menu__list a {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.footer__menu__list a:hover {
  opacity: 0.6;
}
.footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.footer__icon li {
  margin-right: 25px;
}
.footer__icon li:last-child {
  margin-right: 0;
}
.footer__icon a {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.footer__icon a:hover {
  opacity: 0.7;
}
.footer__language {
  width: 73px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1882352941);
  color: #fff;
}
.footer__language a {
  color: #fff;
}
.footer__text {
  font-size: 12px;
  font-weight: 500;
  line-height: 21px;
  color: #FFFFFF;
  opacity: 0.5;
}

@media screen and (min-width: 500px) {
  .perfect__wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .perfect__wrap__item {
    padding: 0 20px;
    width: 50%;
  }
  .transfer__wrap {
    display: flex;
    justify-content: space-between;
  }
  .transfer__wrap button {
    margin: 0 10px 40px;
  }
  .footer__menu__list {
    display: flex;
    flex-wrap: wrap;
  }
  .footer__menu__list li {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .post-header__title {
    font-size: 40px;
    line-height: 49px;
  }
  .title {
    font-size: 50px;
    font-weight: 400;
    line-height: 61px;
  }
  .text {
    font-size: 30px;
    font-weight: 400;
    line-height: 43px;
  }
  .graphics__wrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }
  .graphics__wrapper__item {
    width: 50%;
    padding: 0 20px;
  }
  .graphics__item__img {
    margin-left: 0;
  }
  .style__wrapper {
    display: flex;
  }
  .style__wrapper__item {
    width: 50%;
    padding: 0 55px;
  }
  .perfect__inner {
    max-width: 550px;
  }
  .creator__wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .creator__wrap__item {
    padding: 0 20px;
    width: 50%;
  }
  .transfer__title img {
    width: 39px;
    height: 61px;
    vertical-align: middle;
    margin: 0 5px;
  }
  .transfer__wrap button {
    margin-bottom: 0;
  }
  .bublle-1 {
    display: block;
    right: 10px;
    top: 50px;
  }
  .bublle-4 {
    right: 40%;
  }
  .bublle-7 {
    display: block;
    top: 35%;
  }
  .bublle-9 {
    top: 100px;
  }
  .bublle-10 {
    top: 35%;
  }
  .bublle-12 {
    top: 75%;
  }
}
@media screen and (min-width: 960px) {
  .menu-btn {
    display: none;
  }
  .header__menu {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
  }
  .header__list {
    display: flex;
  }
  .header__menu__list {
    margin: 0 23px;
    border: 0;
  }
  .header__menu__list a {
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    white-space: nowrap;
  }
  .language {
    margin: 0;
  }
  .graphics__wrapper__item {
    width: 33.33%;
    padding: 0 40px;
  }
  .graphics__item__title {
    min-height: 68px;
  }
  .style__inner {
    width: 520px;
    position: absolute;
    right: 20%;
    top: 200px;
  }
  .creator__inner {
    max-width: 700px;
  }
  .footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__logo-menu {
    display: flex;
  }
  .footer__menu {
    margin-left: 150px;
  }
  .footer__language {
    margin-left: auto;
  }
  .footer__menu__list {
    -moz-text-align-last: left;
         text-align-last: left;
  }
}
@media screen and (min-width: 1024px) {
  .header__logo img:first-child {
    margin-right: 35px;
  }
  .post-header__img {
    position: absolute;
    right: 0;
    top: 0;
  }
  .post-header__inner {
    text-align: left;
  }
  .post-header__title {
    max-width: 700px;
  }
  .post-header__text {
    max-width: 420px;
  }
  .perfect__block {
    display: flex;
  }
  .perfect__block__item {
    width: 40%;
  }
  .perfect__wrap {
    width: 60%;
  }
  .bublle-3 {
    left: 307px;
  }
  .bublle-11 {
    display: block;
    top: 80%;
    left: 30%;
  }
  .bublle-13 {
    display: block;
    top: 70%;
    right: 0;
  }
}
@media screen and (min-width: 1270px) {
  .graphics__wrapper {
    margin: 0 -30px;
  }
  .graphics__wrapper__item {
    padding: 0 65px;
  }
  .bublle-7 {
    top: 45%;
  }
  .bublle-8 {
    top: 75%;
  }
}
@media screen and (min-width: 1440px) {
  .bublle-2 {
    display: block;
    right: -80px;
    top: 35%;
  }
  .bublle-5 {
    right: -46px;
    top: 30%;
  }
  .bublle-6 {
    left: -31px;
    top: 55%;
  }
  .bublle-13 {
    right: -100px;
  }
}